<div ng-switch="state">
  <h2 ng-switch-when="timeline">Timeline</h2>
  <h2 ng-switch-when="hashtag">Tweets #{{ hashtag }}</h2>
</div>
<hr>

<div ng-switch="state">

  <div ng-switch-when="timeline" class="home">

    <div class="new-tweet">
      <textarea ng-model="home.message" class="form-control" placeholder="Write a new tweet ..." rows="4"></textarea>
      <span ng-class="{'new-tweet-error' : (140 - home.message.length < 0)}">
        {{ 140 - home.message.length }}
      </span>

      <a class="btn btn-success" ng-click="home.publish()">
        Publish<i class="glyphicon glyphicon-send"></i>
      </a>
    </div>

    <div class="timeline">

      <div class="panel panel-default" ng-repeat="tweet in tweets">
        <div class="panel-heading">
          <h3 class="panel-title">
            @{{ tweet.user }} <small>- {{ tweet.timestamp|date:'dd/MM/yyyy HH:mm' }}</small>
          </h3>
        </div>
        <div class="panel-body">
          {{ tweet.message }}
        </div>
      </div>

    </div>

  </div>

  <div ng-switch-when="hashtag" class="home">

    <div ng-if="tweets.length > 0" class="panel panel-default" ng-repeat="tweet in tweets">
      <div class="panel-heading">
        <h3 class="panel-title">
          @{{ tweet.user }} <small>- {{ tweet.timestamp|date:'dd/MM/yyyy HH:mm' }}</small>
        </h3>
      </div>
      <div class="panel-body">
        {{ tweet.message }}
      </div>
    </div>

    <div ng-if="tweets == 0">
      <h2><i>no tweets with this hastag :(</i></h2>
    </div>

  </div>

</div>
