<nav ng-controller="HomeController as home" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">Darkbird</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="home">Timeline</a>
        </li>
        <li><a ui-sref="followers">Followers</a></li>
        <li><a ui-sref="followings">Following</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search an hashtag ..." ng-keyup="home.searchHashtag($event)" ng-model="home.hashtag">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a>Connected as : {{ home.user }}</a></li>
        <li>
          <a href="#" ui-sref="stats">My darkbird</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a ng-click="home.changeuser('benoit')">Benoit Sauvage</a>
            </li>
            <li>
              <a ng-click="home.changeuser('nicolas')">Nicolas Bruel</a>
            </li>
            <li>
              <a ng-click="home.changeuser('fgribreau')">François-Guillaume Ribreau</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
