<h2>MY STATS</h2>
<hr>

<div class="row stats">

  <div class="stat col-md-4">
    <h4>FOLLOWERS</h4>
    <h5 class="followers">{{ stats.stats.followers }}</h5>
  </div>

  <div class="stat col-md-4">
    <h4>FOLLOWING</h4>
    <h5 class="following">{{ stats.stats.following }}</h5>
  </div>

  <div class="stat col-md-4">
    <h4>TWEETS</h4>
    <h5 class="tweets">{{ stats.stats.tweets }}</h5>
  </div>

</div>

<hr>

<div class="row stats-tweets">

  <div class="panel panel-default" ng-repeat="tweet in stats.tweets">
    <div class="panel-heading">
      <h3 class="panel-title">
        @{{ tweet.user }} <small>- {{ tweet.timestamp|date:'dd/MM/yyyy HH:mm' }}</small>
      </h3>
    </div>
    <div class="panel-body">
      {{ tweet.message }}
    </div>
  </div>

</div>
