body {
  margin-top: 70px;
  background-color: #404040;
  color: #B1B1B1;
}

textarea, input {
  background-color: #696969 !important;
  color: #fff !important;
}

.panel {
  border: none;

  .panel-heading {
    background-color: #6B6B6B !important;
  }

  .panel-body {
    background-color: #696969 !important;
    color: #B1B1B1;
  }
}

form input[type='text'] {
  width: 100% !important;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

.stats {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;

  div.stat {
    text-align: center;
  }

  h4 {
    margin-bottom: 30px;
  }

  h5 {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
    font-size: 36px;
    border-radius: 50px;
    border: 1px solid #000;
  }
}

.stats-tweets {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
}

.home {
  width: 60%;
  margin: 0 auto;

  .new-tweet {
    margin-bottom: 20px;
    text-align: right;

    textarea {
      resize: none;
      margin-bottom: 10px;
    }

    .new-tweet-error {
      color: red;
      font-size: bold;
    }

    .btn {
      margin-left: 10px;
      i {
        margin-left: 10px;
      }
    }
  }

  .timeline {
    margin-top: 20px;
  }
}
